
body {
  padding: 40px;
}

.MuiIconButton-root {
  padding: 0 !important;
}
/* div {
  display: flex;
  justify-content: center;
} */

.center-content {
  display: flex;
  justify-content: center;
}
